<div style="border:1px solid red">
  <header>
    <h1 class="site-title">{{ site_name }}</h1>
    {{ page.header }}
  </header>
  <main>
    {{ page.content }}
  </main>
  <footer>
    {{ page.footer }}
    <p>© {{ "now"|date("Y") }} Savafrontend</p>
  </footer>
</div>